{{ define "main" }}
<v-row>
  <v-col cols="12">
    <v-simple-table class="lime lighten-5">
      <template>
        <thead class="indigo lighten-4">
          <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
      {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) 250 }}
      {{ range $pag.Pages }}
      <tr>
        <td>{{ .Date.Format "2006-01-02" }}</td>
        <td>
          {{ if .Params.Categories }}
          {{ range .Params.Categories }}
          <a
            href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/"
          >
            {{ . }}
          </a>
          {{ end }}
        {{ end }}
        </td>
        <td>
          {{ if .Params.Tags }}
          {{ range .Params.Tags }}
          <v-chip
            color="indigo accent-2"
            label
            text-color="white"
            x-small
            href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/"
          >
            {{ . }}
        </v-chip>
          {{ end }}
        {{ end }}
        </td>
        <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
      {{ end }}
        </tbody>
      </template>
    </v-simple-table>
  </v-col>
</v-row>

{{ end }}