{{ define "main" }}
<v-row>
  <v-col cols="12">
    <v-expansion-panels focusable>
      {{ $type := .Type }}
      {{ range $key, $value := .Data.Terms.ByCount }}
      <v-expansion-panel>
        <v-expansion-panel-header class="indigo lighten-4">
          <div class="text-h6">
            <v-badge content="{{ $value.Count }}" color="warning">
              {{ $value.Page.Title }}
            </v-badge>
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content class="lime lighten-5">
          <v-simple-table class="transparent">
            <template>
              <tbody>
                {{ range $value.Pages }}
                <tr>
                  <td>{{ .Date.Format "2006-01-02" }}</td>
                  <td>
                  {{ if eq $type "categories" }}
                    {{ range .Params.Tags }}
                    <v-chip
                      color="indigo accent-2"
                      label
                      text-color="white"
                      x-small
                      href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/"
                    >
                      {{ . }}
                    </v-chip>
                    {{ end }}
                  
                  {{else if eq $type "tags" }}
                    {{ range .Params.Categories }}
                    <a
                      href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/"
                    >
                      {{ . }}
                    </a>
                    {{ end }}

                  {{ end }}
                  
                  </td>
                  <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                </tr>
                {{ end }}
              </tbody>
              </template>
          </v-simple-table>
        </v-expansion-panel-content>
      </v-expansion-panel>
      {{ end }}
    </v-expansion-panels>
  </v-col>
</v-row>
{{ end }}


