{{ define "main" }}
<div id="app">
    <v-app id="inspire">
      <v-app-bar
        app
        hide-on-scroll
        
        fade-img-on-scroll
        src="{{ "img/0.jpg" | absURL }}"    
      >

      <!--<v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>-->

      <v-toolbar-title class="mr-12 align-center">
        <span class="site-title">{{ .Site.Title }}</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn v-if="notInSearch" icon @click.stop="searchModal = !searchModal">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
      <v-btn v-else icon @click.stop="searchModal = !searchModal"  color="error">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
  
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"
          gradient="to top right, rgba(31,49,52,.7), rgba(69,87,101,.7)"
        ></v-img>
      </template>
    
    
      <template v-slot:extension>
        <v-tabs align-with-title>
          <v-tab v-if="$route.path == '/'"  to="/" :class="['v-tab--active']">Posts</v-tab>
          <v-tab v-else to="/">Posts</v-tab>
          <v-tab to="/works">Works</v-tab>
          <v-tab to="/about">About</v-tab>
        </v-tabs>
      </template>
    
    </v-app-bar>

    <v-main>
      <v-container>
        <v-row>
          <v-col>
            <v-scroll-x-transition>
              <router-view></router-view>
            </v-scroll-x-transition>
            <v-card class="mt-5 content" v-show="commentBlock">
              <v-card-text>
                <div id="disqus_thread"></div>
                <a href="https://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main> 


    <v-dialog v-model="searchModal" max-width="600" light>
      <v-card color="#e6eae3">
        <v-card-title>
          Search Posts
        </v-card-title>
    
            <v-card-text>
              <v-combobox 
                v-model="searchConditions.keyword"
                :items="titles"
                clearable
                hide-selected
                hide-details
                prepend-inner-icon="mdi-text"
                label="Title"
                height="42"
              >  
              </v-combobox>
    
              <v-combobox 
                v-model="searchConditions.selectedTags"
                :items="tags"
                chips
                clearable
                multiple
                hide-selected
                hide-details
                prepend-inner-icon="mdi-tag-multiple"
                label="Tags"
              >
                <template v-slot:selection="{ attrs, item, select, selected }">
                  <v-chip
                    color="accent"
                    v-bind="attrs"
                    :input-value="selected"
                    close
                    @click:close="removeItem('selectedTags', item)"
                  >
                   [[ item ]]
                  </v-chip>
                </template>              
              </v-combobox>
      
              <v-combobox 
                v-model="searchConditions.selectedCategories"
                :items="categories"
                clearable
                multiple
                hide-selected
                hide-details
                prepend-inner-icon="mdi-folder-multiple"
                label="Categories"
                height="42"
              >  
              </v-combobox>
            </v-card-text>
    
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                :disabled="notInSearch"
                color="error"
                @click="$router.history.push('/')"
                small
              >
                Clear
              </v-btn>
              <v-btn color="primary" @click="toFilteredPosts" small>
                Search
              </v-btn>
            </v-card-actions>

        </v-tabs-items>
      </v-card>
    </v-dialog>


  </v-app>
</div>

<script>
</script>
{{ end }}