{{ define "main" }}
<div id="app">
  <v-app id="inspire">
{{ partial "header.html" . }}
{{ partial "navigation" . }}
    <v-app id="inspire">
      <v-main>
        <v-container fluid style="width: 800px">
          <v-row dense>
            <v-col>
              <div class="text-h5 grey--text text--darken-4">
                {{ .Title }}
              </div>
              <div class="mt-3">
                <v-expansion-panels v-model="panel" focusable multiple popout dark>
                  {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
                      {{ range $pag.Pages }}
                  <v-expansion-panel>
                    <v-expansion-panel-header >
                      {{ if .Params.Title }}
                      <div class="text-h6 white--text">
                        {{ .Params.Title }}
                      </div>
                      {{ end }}
                    </v-expansion-panel-header>
                    <v-expansion-panel-content style="background-color: #ffffff;">
                      {{ partial "post_preview" . }}
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  {{ end }}
                </v-expansion-panels>
              </div>
            </v-col>
          </v-row>
        </v-container>
        <v-pagination v-model="page" :length="{{ .Paginator.TotalPages }}"></v-pagination>
      </v-main>
      {{ partial "footer" . }}
    </v-app>
  </v-app>  
</div>
{{ partial "footer_script" . }}

<script>
  vm.page = {{ .Paginator.PageNumber }}
  vm.panel = [...Array({{ .Paginator.PageSize }}).keys()]
  vm.$watch(() => vm.page, (newPage)=>{window.location.href = '{{ .Permalink }}page/' + newPage})
</script>
{{ end }}