
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
<link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



<script>
  const posts = [
{{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
  {
    url: '{{ .Permalink }}',
    {{if .Title }}
      title: '{{ .Title }}',
    {{ else }}
      title: '',
    {{ end }}
    {{ if .Truncated }}
      summary: '{{ .Summary }}',
      content: '',
    {{ else }}
      summary: '',
      content: '',
    {{ end }}
    {{ if .Params.Date }}
      date: '{{ .Params.Date.Format "2006-01-02" }}',
    {{ else }}
      date: '',
    {{ end }}
    {{ if .Params.Tags }}
      tags: '{{ .Params.Tags }}',
    {{ else }}
      tags: ' ',
    {{ end }}
    {{ if .Params.Categories }}
      categories: '{{ .Params.Categories }}',
    {{ else }}
      categories: ' ',
    {{ end }}
    {{ if .Params.Author }}
      author: '{{ .Params.Author }}',
    {{ else }}
      author: '',
    {{ end }}
  },
{{ end }}
]

posts.forEach(element => {element.categories = element.categories.slice(1, -1).split(' ')})
posts.forEach(element => {element.tags = element.tags.slice(1, -1).split(' ')})


const titles = [
{{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{if .Title }}
      '{{ .Title }}',
  {{ end }}
{{ end }}
]



{{ $taxonomy := .Site.Taxonomies.tags }}
  const tags = [
  {{ range $key, $value := $taxonomy }}
  '{{ $key }}',
  {{ end }}

  ]




{{ $taxonomy := .Site.Taxonomies.categories }}
  const categories = [
  {{ range $key, $value := $taxonomy }}
  '{{ $key }}',
  {{ end }}

  ]



/////////////////////////////////////////////////////////////////////

  Vue.use(VueLoading)
  Vue.component('loading', VueLoading)


  var vm = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    vuetify: new Vuetify(),
    props: {
    },
    data: {
      drawer: false,
      panel: [],

      page: 1,
      pageSize: 20,
      pageLength: null,


      filteredPosts: posts,
      displayPosts: [],
      dialog: null,

      titles: titles,
      tags: tags,
      categories: categories,

      keyword: null,
      selectedTags: null,
      selectedCategories: null,



      
      seltags: null,
      selcategories: null,
      tfilteredposts: [],
      cfilteredposts: [],
    },

    created () {
      this.$vuetify.theme.dark = true
      this.loader = this.$loading.show(
        {loader: 'dots', color: '#fff', backgroundColor: '#272727', opacity: 1}
          )
      this.pageInit()
      
    },

    mounted () {
      this.loader.hide()
    },

    computed: {
      items () {
        if (this.search) {
          return this.filteredPosts
        }else{
          return []
        }
      }
    },


    methods: {
      getContent (url, index) {
        var content = 
        axios.get(url).then(response => (this.displayPosts[index].content = response.data))
        

        var ele = document.getElementById('content_' + index)
        
        var codes = ele.getElementsByTagName("script")
        

        const toExcute = (codes) => {
          for(i=0; i <= codes.length-1; i++) {
            if (codes[i].text) {
              eval(codes[i].text)
            }
            else if (codes[i].src) {
              var script = document.createElement('script')
              script.src = codes[i].src
              document.body.appendChild(script)
            }
            
          }
        }

        setTimeout(toExcute, 2000, codes)

        
        /*
        for(var i=0;i<codes.length;i++)  
       
        var script = document.createElement('script')
        script.src = codes[i].src
        document.body.appendChild(script)
      */



      },

      pageInit () {
        this.pageLength = Math.ceil(this.filteredPosts.length/this.pageSize)
        this.pageChange(1)
      },

      pageChange (pageNumber) {
        this.displayPosts = this.filteredPosts.slice(this.pageSize*(pageNumber -1), this.pageSize*(pageNumber))
        this.panel = [...Array(this.pageSize).keys()].map((k, i) => i)
        setTimeout(this.$vuetify.goTo, 5, 0)
      },

      searchPosts () {
        for (const post of posts) {
          const arrayChecker = (arr, target) => {
            if (target) {
              return target.every(v => arr.includes(v))
            }
            return true
            }
          
          const stringChecker = (str, target) => {
            if (target) {
              return str.includes(target)
            }
            return true
          }
          
          //console.log(checker(post.tags, this.seltags))
          if (arrayChecker(post.tags, this.seltags) && arrayChecker(post.categories, this.selcategories) && stringChecker(post.title, this.keyword)) {
            console.log(post)
          }
        }

      }
    }
  })

  vm.$vuetify.theme.themes.light.primary = '#007C8A'
  vm.$vuetify.theme.themes.light.secondary = '#44617B'
  vm.$vuetify.theme.themes.light.accent = '#009BAC'
  vm.$vuetify.theme.themes.light.error = '#D7003A'
  vm.$vuetify.theme.themes.light.warning = '#F08300'


  vm.$vuetify.theme.themes.dark.primary = '#F08300'
  vm.$vuetify.theme.themes.dark.secondary = '#006e54'
  vm.$vuetify.theme.themes.dark.warning = '#d3381c'
  vm.$vuetify.theme.themes.dark.error = '#D7003A'
  vm.$vuetify.theme.themes.dark.accent = '#00a381'


  vm.$vuetify.theme.themes.dark.header = '#1f3134'
  vm.$vuetify.theme.themes.dark.content = '#333a40'

















</script>

<script src="{{ "js/code-block.js" | absURL }}"></script>
 
