
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.common.js"></script>
{{ partial "vue_templates/posts.html" . }}
{{ partial "vue_templates/post.html" . }}
{{ partial "vue_templates/works.html" . }}
{{ partial "vue_templates/about.html" . }}



<script>
  const post_list = [
{{ range $index, $element := where site.RegularPages "Type" "in" site.Params.mainSections }}
  {
    id: {{ $index }},
    url: '{{ $element.Permalink }}',
    {{if $element.Title }}
      title: '{{ $element.Title }}',
    {{ else }}
      title: '',
    {{ end }}
    {{ if $element.Truncated }}
      summary: '{{ $element.Summary }}',
      content: '',
    {{ else }}
      summary: '',
      content: '',
    {{ end }}
    {{ if $element.Params.Date }}
      date: '{{ $element.Params.Date.Format "2006-01-02 15:04" }}',
    {{ else }}
      date: '',
    {{ end }}
    {{ if $element.Params.Tags }}
      tags: '{{ $element.Params.Tags }}',
    {{ else }}
      tags: ' ',
    {{ end }}
    {{ if $element.Params.Categories }}
      categories: '{{ $element.Params.Categories }}',
    {{ else }}
      categories: ' ',
    {{ end }}
    {{ if $element.Params.Author }}
      author: '{{ $element.Params.Author }}',
    {{ else }}
      author: '',
    {{ end }}
    wordcount: '{{ .WordCount }}'
  },
{{ end }}
]

post_list.forEach(element => {element.categories = element.categories.slice(1, -1).split(' ')})
post_list.forEach(element => {element.tags = element.tags.slice(1, -1).split(' ')})

const title_list = [
{{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{if .Title }}
      '{{ .Title }}',
  {{ end }}
{{ end }}
]



{{ $taxonomy := .Site.Taxonomies.tags }}
  const tag_list = [
  {{ range $key, $value := $taxonomy }}
  '{{ $key }}',
  {{ end }}

  ]




{{ $taxonomy := .Site.Taxonomies.categories }}
  const category_list = [
  {{ range $key, $value := $taxonomy }}
  '{{ $key }}',
  {{ end }}

  ]


/////////////////////////////////////////////////////////////////////

  Vue.use(VueLoading)
  Vue.component('loading', VueLoading)

  const About = {
    template: '#about',
    delimiters: ['[[', ']]'],

    data () {
      return {
        content: null
      }
    },

    created () {
      axios.get('{{ .Site.BaseURL }}about/').then(response => {
          setTimeout(() => {this.content = response.data}, 300)
      })

      axios.get('{{ .Site.BaseURL }}about/chart_data/index.json').then(response => {
          setTimeout(() => {
            var result = response.data.result
            this.setCharts('Top Categories', 'category', result.categories_data, 'chart_categories')
            setTimeout(this.setCharts, 500, 'Top Tags', 'tag', result.tags_data, 'chart_tags')
            }, 500)
      })
    },
    methods: {
      setCharts (title, series_name, data, element_id) {
        var option = {
          title: {
            left: 'auto',
            text: title,
            textStyle: {
              color: '#e0e0e0',
              fontSize: 16,
              fontFamily: 'Noto Sans TC'
            }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
          },
          legend: {
            type: 'scroll',
            orient: 'vertical',
            right: 0,
            top: 10,
            bottom: 10,
            data: data.legendData,
            selected: data.selected,
            inactiveColor: '#686868',
            pageIconColor: '#aaa',
            pageIconInactiveColor: '#2f4554',
            textStyle: {
              color: '#c2c4c6'
            },
            pageTextStyle: {
              color: '#c2c4c6'
            }
          },
          series: [
            {
              name: series_name,
              type: 'pie',
              radius: '55%',
              center: ['40%', '50%'],
              data: data.seriesData,
              emphasis: {
                itemStyle: {
                  shadowBlur: 10,
                  shadowOffsetX: 0,
                  shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
              }
            }
          ]
        }
        var chart = echarts.init(document.getElementById(element_id))
        chart.setOption(option)

      }
    }
  }

  const Works = {
    template: '#works',
    delimiters: ['[[', ']]'],

    data () {
      return {
        content: null
      }
    },

    created () {
      setTimeout(() => {this.content = true}, 300)
    },
  }


  const Post = {
    template: '#post',
    delimiters: ['[[', ']]'],

    data () {
      return {
        post: {
          title: null,
          date: null,
          categories: null,
          tags: null
        },
        content: null
      }
    },

    created () {
      this.getPost(this.$route.query.url)
    },

    mounted () {
      setTimeout(this.resetDisqus, 1500, this.$route.query.url)
    },

    updated () {
      this.replaceImgSrc()
      this.addCodeBlockTitle()
    },

    methods: {
      replaceImgSrc () {
        var contents = document.getElementsByClassName('content')

        Array.prototype.forEach.call(contents, content => {
          var imgs = content.getElementsByTagName('img')
          Array.prototype.forEach.call(imgs, img => {
            if (img.attributes.src.value.indexOf('http') == -1) {
              img.src = this.post.url + img.attributes.src.value
            }
          })
        })        
      },

      addCodeBlockTitle () {
        var code_list = document.body.getElementsByTagName('code')
        for (i=0; i <= code_list.length-1; i++) {
          var codeParent = code_list[i].closest('pre')
          if (codeParent) {
            if (!codeParent.closest('div.highlight')) {
              if (/^language-:+/.test(code_list[i].className)) {
                var div = document.createElement('div')
                div.classList.add('highlight')
                var pre = codeParent.cloneNode(true)
                div.appendChild(pre)
                codeParent.replaceWith(div)
              }
            }
          }
        }

        var list = document.body.getElementsByClassName('highlight')

        for(i=0; i <= list.length-1; i++){
          var table = list[i].firstElementChild.firstElementChild
          if (table.nodeName == 'TABLE') {
            var code = table.firstElementChild.firstElementChild.childNodes[2].firstElementChild.firstElementChild
            var codeName =  code ? code.className.split(':')[1] : null
            if(codeName) {
              var div = document.createElement('div')
              div.textContent = codeName
              div.classList.add('code-name')
              table.parentNode.insertBefore(div, table)
            }
          } else {
            var code = table
            var codeName =  code ? code.className.split(':')[1] : null
          
            if(codeName) {
              var div = document.createElement('div')
              var br = document.createElement('br')
              div.textContent = codeName
              div.classList.add('code-name')
              code.parentNode.insertBefore(div, code)
              code.parentNode.insertBefore(br, code)
            }
          }
        }
      },

      getPost (url) {
        axios.get(url + 'index.json').then(response => {
          this.post = response.data.result
        })
        axios.get(url).then(response => {
          setTimeout(() => {this.content = response.data}, 300)
        })
      },

      resetDisqus (url) {
        if (window.DISQUS) {
          window.DISQUS.reset({
            reload: true,
            config: function () {  
              this.page.url = url
            }
          })
        }
      },


    }
  }
  

  const Posts = {
    template: '#posts',
    delimiters: ['[[', ']]'],
    data () {
      return {
        page: 1,
        pageSize: 10,
        pageLength: null,
        filteredPosts: post_list,
        displayPosts: [],
        resultSnackbar: false,
        searchConditions: {
          selectedCategories: [],
          selectedTags: [],
          keyword: ''
        }
      }
    },

    computed: {
      getQuery () {
        return this.$route.query
      }
    },

    mounted () {
      this.postsInit()
    },

    watch: {
      getQuery (to, from) {
        this.searchPosts()
      },
    },

    methods: {
      getSearchConditions () {
        var query = this.getQuery
        const convertToArray = (value) => {
          if (Array.isArray(value)) {
            return value
          } else if (typeof value === 'string') {
            return value.split(',')
          } else {
            return []
          }
        }

        var searchConditions = {}

        searchConditions.selectedCategories = convertToArray(query.category)
        searchConditions.selectedTags = convertToArray(query.tag)
        if (typeof query.keyword === 'string') {
          searchConditions.keyword = query.keyword
        } else {
          searchConditions.keyword = ''
        }
        return searchConditions
      },

      postsInit () {
        if (Object.keys(this.$route.query).length) {
          this.searchPosts()
        }
        else {
          this.pageInit()
        }
      },

      pageChange (pageNumber) {
        this.displayPosts = []
        if (window.pageYOffset >= 60) {
          window.scroll({top: 60, behavior: 'instant'})
        }
        setTimeout(() => {
          window.scroll({top: 0, behavior: 'smooth'})
        }, 10)
        setTimeout(() => {
          this.displayPosts = this.filteredPosts.slice(this.pageSize*(pageNumber - 1), this.pageSize*(pageNumber))
        }, 100)
      },

      pageInit () {
        this.pageLength = Math.ceil(this.filteredPosts.length/this.pageSize)
        this.page = 1
        setTimeout(this.pageChange, 150, 1)
      },

      searchPosts () {
        var searchConditions = this.getSearchConditions()
        this.searchConditions = searchConditions
        var keyword = searchConditions.keyword
        var selectedTags = searchConditions.selectedTags
        var selectedCategories = searchConditions.selectedCategories
        const posts = JSON.parse(JSON.stringify(post_list))

        const checkArray = (target, item) => {
          if (item) {
            return item.every(v => target.includes(v))
          }
          return true
        }

        var checkArrayResult = []

        for (const post of posts) {
          if (checkArray(post.tags, selectedTags) && checkArray(post.categories, selectedCategories)) {
            checkArrayResult.push(post)
          }
        }

        var checkKeywordResult = []

        if (keyword) {
          var lower_keyword = keyword.toLowerCase()
          for (const post of checkArrayResult) {
            var lower_title = post.title.toLowerCase()
            var keywordIndex = lower_title.indexOf(lower_keyword)

            if (keywordIndex !== -1) {
              hl_keyword = '<span style="background-color:#00a381">' + post.title.substring(keywordIndex, keywordIndex + keyword.length) + '</span>'
              post.title = lower_title.replace(lower_keyword, hl_keyword)
              checkKeywordResult.push(post)
            }
          }
          this.filteredPosts = checkKeywordResult
        } else {
          this.filteredPosts = checkArrayResult
        }
        this.resultSnackbar = true
        this.pageInit()
      },
    }
  }

  const routes = [
    { path: '/', component: Posts },
    { path: '/post', component: Post },
    { path: '/works', component: Works },
    { path: '/about', component: About }
  ]

  const router = new VueRouter({
    routes
  })


  
  router.beforeEach((to, from, next) => {
    if (window.pageYOffset >= 60) {
      window.scroll({top: 60, behavior: 'instant'})
    }
    setTimeout(() => {
      window.scroll({top: 0, behavior: 'smooth'})
    }, 10)
    setTimeout(next, 100)
  })


  

  var vm = new Vue({
    router,
    delimiters: ['[[', ']]'],
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      titles: title_list,
      tags: tag_list,
      categories: category_list,
      searchConditions: {
        selectedCategories: [],
        selectedTags: [],
        keyword: ''
      },
      searchModal: false,
      commentBlock: false
    },

    computed: {
      getQuery () {
        return this.$route.query
      },
      notInSearch () {
        const queryKeys = Object.keys(this.$route.query)
        if (queryKeys.length === 0) {
          return true
        }
        return !queryKeys.every(v => ['keyword', 'category', 'tag'].includes(v))
      }
    },

    watch: {
      getQuery (to, from) {
        if (this.$route.path == '/') {
          this.setSearchConditionsToData()
        }
      }
    },

    created () {
      this.$vuetify.theme.dark = true
      this.loader = this.$loading.show(
        {loader: 'dots', color: '#fff', backgroundColor: '#272727', opacity: 1}
          )
      this.setSearchConditionsToData()
      this.addingDISQUS()
    },

    mounted () {
      this.loader.hide()
      this.showComment()
    },

    updated () {
      this.showComment()
    },

    methods: {
      getSearchConditions () {
        var query = this.getQuery
        const convertToArray = (value) => {
          if (Array.isArray(value)) {
            return value
          } else if (typeof value === 'string') {
            return value.split(',')
          } else {
            return []
          }
        }

        var searchConditions = {}

        searchConditions.selectedCategories = convertToArray(query.category)
        searchConditions.selectedTags = convertToArray(query.tag)
        if (typeof query.keyword === 'string') {
          searchConditions.keyword = query.keyword
        } else {
          searchConditions.keyword = ''
        }
        return searchConditions
      },

      setSearchConditionsToData () {
        this.searchConditions = this.getSearchConditions()
      },

      toFilteredPosts () {
        var query = {}

        if (this.searchConditions.keyword) {
          query.keyword = this.searchConditions.keyword
        }
        if (this.searchConditions.selectedCategories.length) {
          query.category = this.searchConditions.selectedCategories
        }
        if (this.searchConditions.selectedTags.length) {
          query.tag = this.searchConditions.selectedTags
        }
        if (this.$route.path == '/') {
          this.$router.history.push({
            query: query
          })
        }
        else {
          this.$router.push({
            path: '/',
            query: query
          })
        }
      },

      removeItem (target, item) {
        const index = this.searchConditions[target].indexOf(item)
        if (index >= 0) {
          this.searchConditions[target].splice(index, 1)
        }
      },

      addingDISQUS () {
        (() => {
          if (["localhost", "127.0.0.1"].indexOf(window.location.hostname) != -1) {
            document.getElementById('disqus_thread').innerHTML = 'Disqus comments not available by default when the website is previewed locally.'
            return
        }
        var d = document, s = d.createElement('script')
        s.async = true

        var disqus_shortname = '{{ .Site.DisqusShortname }}'
        s.src = '//' + disqus_shortname + '.disqus.com/embed.js'
        s.setAttribute('data-timestamp', +new Date())
        d.body.appendChild(s)
        })()
      },

      showComment () {
        if (this.$route.path === '/post') {
          setTimeout(() => {this.commentBlock = true}, 3000)
        } else {
          this.commentBlock = false
        }
      }
    }
  })

  vm.$vuetify.theme.themes.light.primary = '#007C8A'
  vm.$vuetify.theme.themes.light.secondary = '#44617B'
  vm.$vuetify.theme.themes.light.accent = '#009BAC'
  vm.$vuetify.theme.themes.light.error = '#D7003A'
  vm.$vuetify.theme.themes.light.warning = '#F08300'


  vm.$vuetify.theme.themes.dark.primary = '#F08300'
  vm.$vuetify.theme.themes.dark.secondary = '#006e54'
  vm.$vuetify.theme.themes.dark.warning = '#d3381c'
  vm.$vuetify.theme.themes.dark.error = '#D7003A'
  vm.$vuetify.theme.themes.dark.accent = '#009988'


  vm.$vuetify.theme.themes.dark.header = '#1f3134'
  vm.$vuetify.theme.themes.dark.content = '#333a40'

















</script>


 
