{{ define "main" }}
<div id="app">
  <v-app id="inspire">
    <v-app id="inspire">
      {{ partial "header.html" . }}
      {{ partial "navbar" . }}
      <v-main>
        <v-container fluid style="width: 800px">
          <v-row dense>
            <v-col>
              <div class="text-h5">
                {{ .Title }}
              </div>
              <div>
                <v-expansion-panels focusable inset>
                  {{ range $key, $value := .Data.Terms.ByCount }}
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      <div class="text-h6">
                        {{ $value.Page.Title }}
                      </div>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <v-simple-table>
                        <template>
                          <tbody>
                            {{ range $value.Pages }}
                            <tr>
                              <td>{{ .Date.Format "2006-01-02" }}</td>
                              <td>
                                {{ if .Params.Categories }}
                                {{ range .Params.Categories }}
                                  <a href="{{ $.Site.LanguagePrefix | absURL }}categories/{{ . | urlize }}/">{{ . }}</a>
                                {{ end }}
                              {{ end }}
                              </td>
                              <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                            </tr>
                            {{ end }}
                          </tbody>
                          </template>
                      </v-simple-table>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  {{ end }}
                </v-expansion-panels>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-main>          
    </v-app>
  </v-app>
</div>
{{ partial "footer" . }}
{{ end }}


