<v-row dense>
  <v-col>
    <v-card class="mx-auto" max-width="800" color="secondary">
      <v-card-title class="headline">
        <p class="display-1 text--primary">{{ .Title }}</p>
      </v-card-title>
      <v-card-subtitle class="d-flex align-center ml-2">
        {{ .Date.Format "2006-01-02" }}
        {{ if .Params.Categories }}
          {{ range .Params.Categories }}
            <a href="{{ $.Site.LanguagePrefix | absURL }}/categories/{{ . | urlize }}/">{{ . }}</a>
          {{ end }}
        {{ end }}
      </v-card-subtitle>
      <v-card-subtitle>
        {{ if .Params.tags }}
          {{ range .Params.tags }}
            <v-chip
              color="blue-grey"
              label
              text-color="white"
              x-small
              href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/"
            >
              <v-icon left small>mdi-label</v-icon>
              {{ . }}
            </v-chip>
          {{ end }}
        {{ end }}
      </v-card-subtitle>
      <v-divider></v-divider>
      <v-card-text>
        {{ .Content }}
      </v-card-text>
    </v-card>
  </v-col>
</v-row>

{{ if ne .Type "page" }}
<v-row dense>
  <v-col>
    <v-card class="mx-auto" max-width="800" color="secondary">
      <v-card-actions>
   
      {{ if .PrevInSection }}
        <v-tooltip class="float-left" top>
          <template v-slot:activator="{ on }">
            <v-btn
              href="{{ .PrevInSection.Permalink }}"
              target="_blank"
              v-on="on"
            >
              <v-icon>mdi-arrow-left</v-icon>
              Prev
            </v-btn>
          </template>
          <span>{{ .PrevInSection.Title }}</span>
        </v-tooltip>
      {{ end }}
      
 

      {{ if .NextInSection }}
      <v-tooltip class="float-right" top>
        <template v-slot:activator="{ on }">
          <v-btn
            href="{{ .NextInSection.Permalink }}"
            target="_blank"
            v-on="on"
          >
            Next
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </template>
        <span>{{ .NextInSection.Title }}</span>
      </v-tooltip>
      {{ end }}
    </v-card-actions>
  </v-card>
  </v-col>
</v-row>
{{ end }}