
<v-navigation-drawer
  v-model="drawer"
  app
  fixed
  clipped
  dark
>
  <v-list>
    
    <v-list-item link href="{{ "" | absLangURL }}">
      <v-list-item-action>
        <v-icon>mdi-home</v-icon>
      </v-list-item-action>
      <v-list-item-title>Home</v-list-item-title>
    </v-list-item>
  
    <v-list-item link href="{{ "about" | absLangURL }}">
      <v-list-item-action>
        <v-icon>mdi-information</v-icon>
      </v-list-item-action>
      <v-list-item-title>About</v-list-item-title>
    </v-list-item>

  </v-list>


  <v-list dense>
    <v-subheader class="mt-4">BLOG</v-subheader>

    <v-list-item link href="{{ "posts" | absLangURL }}">
      <v-list-item-action>
        <v-icon>mdi-tag-multiple</v-icon>
      </v-list-item-action>
      <v-list-item-title>Posts</v-list-item-title>
    </v-list-item>



    <v-list-item link href="{{ "tags" | absLangURL }}">
      <v-list-item-action>
        <v-icon>mdi-tag-multiple</v-icon>
      </v-list-item-action>
      <v-list-item-title>Tags</v-list-item-title>
    </v-list-item>

    <v-list-item link href="{{ "categories" | absLangURL }}">
      <v-list-item-action>
        <v-icon>mdi-folder-multiple</v-icon>
      </v-list-item-action>
      <v-list-item-title>Categories</v-list-item-title>
    </v-list-item>


    <v-divider></v-divider>




  </v-list>
</v-navigation-drawer>



    