{{ define "main" }}
<div id="app">
  <v-app id="inspire">
    <v-app id="inspire">
      {{ partial "header.html" . }}
      {{ partial "navigation" . }}
      <v-main>
        <v-container fluid style="width: 800px">
          <v-row dense>
            <v-col cols=12>
              <div>
                <v-card>
                  <v-card-title class="grey darken-3 text-h6 white--text">
                    <div>
                      {{ .Title }}
                    </div>
                  </v-card-title>
                  <v-card-subtitle class="text-body-1 mt-0">
                    <div>
                      {{ .Date.Format "2006-01-02" }}
                      {{ if .Params.Categories }}
                        {{ range .Params.Categories }}
                          <a href="{{ $.Site.LanguagePrefix | absURL }}/categories/{{ . | urlize }}/">{{ . }}</a>
                        {{ end }}
                      {{ end }}
                    </div>
                    <div>
                      {{ if .Params.tags }}
                      {{ range .Params.tags }}
                        <v-chip
                          color="blue-grey"
                          label
                          text-color="white"
                          x-small
                          href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/"
                        >
                          {{ . }}
                        </v-chip>
                      {{ end }}
                    {{ end }}
  
                    </div>
                  <v-divider></v-divider>
                  </v-card-subtitle>
  
                  <v-card-text class="text-body-1">
                    {{ .Content }}
                  </v-card-text>
  
  
                </v-card>





              
              <div class="d-flex justify-space-between mt-5">
                {{ if .PrevInSection }}
                <v-tooltip top>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      href="{{ .PrevInSection.Permalink }}"
                      target="_blank"
                      v-on="on"
                      text
                    >
                      <v-icon>mdi-arrow-left</v-icon>
                      Prev Post
                    </v-btn>
                  </template>
                  <span>{{ .PrevInSection.Title }}</span>
                </v-tooltip>
              {{ else }}
                <v-btn
                 text
                 disabled
                >
                <v-icon>mdi-arrow-left</v-icon>
                  Prev Post
                </v-btn>
              {{ end }}
              
        
              {{ if .NextInSection }}
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn
                    href="{{ .NextInSection.Permalink }}"
                    target="_blank"
                    v-on="on"
                    text
                  >
                    Next Post
                    <v-icon>mdi-arrow-right</v-icon>
                  </v-btn>
                </template>
                <span>{{ .NextInSection.Title }}</span>
              </v-tooltip>
              {{ else }}
                <v-btn
                  text
                  disabled
                >
                Next Post
                  <v-icon>mdi-arrow-right</v-icon>
                </v-btn>
              {{ end }}
              </div>



            
                {{ if .Site.Params.showRelatedPosts }}
                  {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    {{ $.Scratch.Set "has_related" true }}
                  {{ end }}

                  {{ if $.Scratch.Get "has_related" }}
            
                  <v-card class="mt-5">
                    <v-card-title>
                      See Also
                    </v-card-title>
                    {{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
                    {{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title><a href="{{ .RelPermalink }}">{{ .Title }}</a></v-list-item-title>
                        <v-list-item-subtitle>{{ .Summary }}</v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider></v-divider>
                    {{ end }}
                  </v-card>

                  {{ end }}
                {{ end }}






          
              </div>

            </v-col>
          </v-row>








        </v-container>
      </v-main>          
    </v-app>
  </v-app>
</div>
{{ partial "footer" . }}


<script>
  
  vm.panel = [0]
  vm.$watch(() => vm.panel, ()=>{
    var list = document.body.getElementsByClassName("highlight")
    for(i=0; i <= list.length-1; i++){
      var table = list[i].firstElementChild.firstElementChild
      if (table.nodeName == 'TABLE') {
        var code = table.firstElementChild.firstElementChild.childNodes[2].firstElementChild.firstElementChild
        var codeName =  code ? code.className.split(":")[1] : null
      if(codeName) {
        var div = document.createElement('div')
        div.textContent = codeName
        div.classList.add('code-name')
        table.parentNode.insertBefore(div, table)
      }
      }else {
        var code = table
        var codeName =  code ? code.className.split(":")[1] : null

        if(codeName) {
          var div = document.createElement('div')
          div.textContent = codeName
          div.classList.add('code-name')
          code.parentNode.insertBefore(div, code)
        }
      }
    }
  })




</script>

{{ end }}


