<v-app-bar
  absolute
  shrink-on-scroll
  prominent
  scroll-target="#test"
  scroll-threshold="500"
      
  src="https://picsum.photos/1920/1080?random"
>

  <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

  <v-toolbar-title class="mr-12 align-center">
    <span class="title"></span>
  </v-toolbar-title>

  <v-spacer></v-spacer>
  <v-btn icon @click.stop="dialog = !dialog">
    <v-icon>mdi-magnify</v-icon>
  </v-btn>

<!--
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        dark
        v-bind="attrs"
        v-on="on"
        icon
      >
      <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
    </template>
    <v-list>
    
      <v-list-item link href="{{ "" | absLangURL }}">
        <v-list-item-action>
          <v-icon>mdi-home</v-icon>
        </v-list-item-action>
        <v-list-item-title>Home</v-list-item-title>
      </v-list-item>
    
      <v-list-item link href="{{ "about" | absLangURL }}">
        <v-list-item-action>
          <v-icon>mdi-information</v-icon>
        </v-list-item-action>
        <v-list-item-title>About</v-list-item-title>
      </v-list-item>
  
    </v-list>
  
  
    <v-list dense>
      <v-subheader class="mt-4">BLOG</v-subheader>
  
      <v-list-item link href="{{ "posts" | absLangURL }}">
        <v-list-item-action>
          <v-icon>mdi-file-document-multiple</v-icon>
        </v-list-item-action>
        <v-list-item-title>Posts</v-list-item-title>
      </v-list-item>
  
  
  
      <v-list-item link href="{{ "tags" | absLangURL }}">
        <v-list-item-action>
          <v-icon>mdi-tag-multiple</v-icon>
        </v-list-item-action>
        <v-list-item-title>Tags</v-list-item-title>
      </v-list-item>
  
      <v-list-item link href="{{ "categories" | absLangURL }}">
        <v-list-item-action>
          <v-icon>mdi-folder-multiple</v-icon>
        </v-list-item-action>
        <v-list-item-title>Categories</v-list-item-title>
      </v-list-item>
  
  
      <v-divider></v-divider>
  
  
  
  
    </v-list>
  </v-menu>
-->
</v-app-bar>









<v-dialog v-model="dialog" max-width="600">
  <v-card>
    <v-card-title>
      Search Posts
    </v-card-title>
    <v-tabs 
      v-model="tab"
      background-color="transparent"
      class="mb-3"
      
    >
      <v-tab>
        Title
      </v-tab>
      <v-tab>
        Tag
      </v-tab>
      <v-tab>
        Category
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" style="background-color: transparent;">
      <v-tab-item>
        <v-card-text>
          <v-autocomplete
            v-model="model"
            :items="items"
            :search-input.sync="search"
            hide-no-data
            hide-details
            item-text="title"
            item-value="url"
            prepend-inner-icon="mdi-magnify"
            return-object
            clearble
            height="42"
          >
          </v-autocomplete>
        </v-card-text>
        <v-expand-transition>
          <v-card-text v-if="model">
            <div v-if="model">
            <v-divider></v-divider>
            <v-card-title class="text-h6">
              [[ model.title ]]
            </v-card-title>
            <v-card-subtitle class="text-body-1 white--text">
              [[ model.date ]]
              <a  v-for="category in model.categories">[[ category ]]</a>
              <div>
                <v-chip
                  v-for="tag in model.tags"
                  v-bind:key="tag.id"
                  color="accent"
                  label
                  text-color="white"
                  x-small
                  :href="'{{ "" | absLangURL }}tags/' + tag"
                  class="mr-1"
                >
                  [[ tag ]]
                </v-chip>
              </div>
              <v-divider></v-divider>
            </v-card-subtitle>
            <v-card-text v-html="model.summary" class="text-body-1"></v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              :disabled="!model"
              color="error"
              @click="model = null"
              small
            >
              Clear
              <v-icon right small>mdi-close-circle</v-icon>
            </v-btn>
            <v-btn
              v-if="model"
              color="primary"
              :href="model.url"
              small
            >
              Go to the Post
            </v-btn>
            <v-btn
              v-else
              color="primary"
              disabled
              small
            >
              Continue Reading
            </v-btn>
            </v-card-actions>
            </div>
          </v-card-text>
        </v-expand-transition>
      </v-tab-item>

      <v-tab-item>
        <v-card-text>
          <v-combobox 
            v-model="seltags"
            :items="tags"
            chips
            clearable
            multiple
            hide-selected
            hide-details
            prepend-inner-icon="mdi-tag-multiple"
          >
            <template v-slot:selection="{ attrs, item, select, selected }">
              <v-chip
                color="accent"
                v-bind="attrs"
                :input-value="selected"
                close
                @click:close="remove(item)"
              >
               [[ item ]]
              </v-chip>
            </template>              
          </v-combobox>
        </v-card-text>
        
        <v-expand-transition >
          <v-card-text v-if="tfilteredposts.length">
            <v-simple-table v-if="tfilteredposts.length">
              <template>
                <thead>
                  <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left">Tags</th>
                    <th class="text-left">Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="post in tfilteredposts">
                    <td>[[ post.date ]]</td>
                    <td>
                      <div v-for="tag in post.tags" class="d-inline">
                        <v-chip
                          v-if="seltags.includes(tag)"
                          color="accent"
                          label
                          x-small
                          :href="'{{ "" | absLangURL }}tags/' + tag"
                          class="mr-1"
                        >
                          [[ tag ]]
                        </v-chip>
                        <v-chip
                          v-else
                          color="secondary"
                          text-color="grey"
                          label
                          x-small
                          :href="'{{ "" | absLangURL }}tags/' + tag"
                          class="mr-1"
                        >
                          [[ tag ]]
                        </v-chip>
                      </div>
                    </td>
                    <td><a :href="post.url">[[ post.title ]]</a></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
            </v-card-text>
          </v-expand-transition>
      </v-tab-item>

      <v-tab-item>
        <v-card-text>
          <v-autocomplete
            v-model="selcategories"
            :items="categories"
            clearable
            hide-selected
            hide-details
            multiple
            prepend-inner-icon="mdi-folder"
            height="42"
          >
          </v-autocomplete>
        </v-card-text>
        
        <v-expand-transition>
          <v-card-text v-if="cfilteredposts.length">
            <v-simple-table v-if="cfilteredposts.length">
              <template>
                <thead>
                  <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left">Categories</th>
                    <th class="text-left">Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="post in cfilteredposts">
                    <td>[[ post.date ]]</td>
                    <td>
                      <div v-for="category in post.categories" class="d-inline">
                        <a :href="'{{ "" | absLangURL }}categories/' + category">
                          [[ category ]]
                        </a>
                      </div>
                    </td>
                    <td><a :href="post.url">[[ post.title ]]</a></td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card-text>
        </v-expand-transition>
      </v-tab-item>

    </v-tabs-items>
  </v-card>
</v-dialog>