<div class="text-body-1 grey--text text--lighten-1">
<div>
{{ .Date.Format "2006-01-02" }}
{{ if .Params.Categories }}
  {{ range .Params.Categories }}
  <a href="{{ $.Site.LanguagePrefix | absURL }}/categories/{{ . | urlize }}/">{{ . }}</a>
  {{ end }}
{{ end }}
</div>

<div>
{{ if .Params.tags }}
  {{ range .Params.tags }}
  <v-chip
    color="accent"
    label
    text-color="white"
    x-small
    href="{{ $.Site.LanguagePrefix | absURL }}tags/{{ . | urlize }}/"
  >
    {{ . }}
  </v-chip>
  {{ end }}
{{ end }}
</div>

<v-divider></v-divider>

<div >
{{ if .Truncated }}
  {{ .Summary }}
  <div>
    <v-btn href="{{ .Permalink }}" color="primary" small>Read More</v-btn>
  </div>
  
{{ else }}
  {{ .Content }}
{{ end }}    
</div>
</div>