{{ define "main" }}
<div id="app">
  <v-app id="inspire">
{{ partial "header.html" . }}
{{ partial "navigation" . }}
    <v-app id="inspire">
      <v-main>
        <v-container fluid style="width: 800px">
          <v-row dense>
            <v-col>
              <div class="text-h5">
                {{ .Title }}
              </div>
              <div class="mt-3">
                <v-simple-table dense>
                  <template>
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Title</th>
                      </tr>
                    </thead>
                    <tbody>
                  {{ range (.Paginator 50).Pages }}
                  <tr>
                    <td>{{ .Date.Format "2006-01-02" }}</td>
                    <td>
                    {{ if .Params.Categories }}
                      {{ range .Params.Categories }}
                      <a
                        href="{{ $.Site.LanguagePrefix | absURL }}categories/{{ . | urlize }}/"
                      >
                        {{ . }}
                      </a>
                      {{ end }}
                    {{ end }}
                    </td>
                    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
                  </tr>


                  {{ end }}
                    </tbody>
                  </template>
                </v-simple-table>
              </div>
            </v-col>
          </v-row>
        </v-container>
        <v-pagination v-model="page" :length="{{ .Paginator.TotalPages }}"></v-pagination>
      </v-main>
      {{ partial "footer" . }}
    </v-app>
  </v-app>  
</div>
{{ partial "footer_script" . }}

<script>
  vm.page = {{ .Paginator.PageNumber }}
  vm.panel = [...Array({{ .Paginator.PageSize }}).keys()]
  vm.$watch(() => vm.page, (newPage)=>{window.location.href = '{{ .Permalink }}page/' + newPage})
</script>
{{ end }}