<script type="text/x-template" id="about">
    <div v-if="content">
        <v-card flat color="transparent">
            <v-row justify="start" class="mt-n8">
                <v-col md="8">
                    <v-card-text class="text-body-2 grey--text text--lighten-2 mt-2">
                        <div class="mr-2 ml-2 post-content" v-html="content">
                        </div>
                    </v-card-text>
                    <v-divider inset></v-divider>
                </v-col>
            </v-row>

            <v-row justify="center">
                <v-col md="8">
                    <div id="chart_categories" style="width:100%; height:240px;"></div>
                    <v-divider inset></v-divider>
                </v-col>


            </v-row>
            <v-row justify="end">
                <v-col md="8">
                    <div id="chart_tags" style="width:100%; height:240px;"></div>
                    <v-divider inset></v-divider>
                </v-col>

            </v-row>
        </v-card>
    </div>

</script>