<script type="text/x-template" id="about">
    <div v-if="content">
        <v-row justify="center" class="mt-n8">
            <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                <v-card flat color="transparent">
                    <v-card-title>
                        About me
                    </v-card-title>
                    <v-card-text class="text-body-2 grey--text text--lighten-2 mt-2">
                        <div class="mr-2 ml-2 post-content" v-html="content">
                        </div>
                    </v-card-text>
                </v-card>
            </v-col>


            <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                <v-card flat color="transparent">
                    <v-card-title>
                        Top Categorie
                    </v-card-title>
                    <div id="chart_categories" style="width:100%; height:240px;"></div>
                </v-card>
            </v-col>

            <v-col cols="12" xs="12" sm="12" md="6" lg="6" xl="6">
                <v-card  flat color="transparent">
                    <v-card-title>
                        Top Tags
                    </v-card-title>
                    <div id="chart_tags" style="width:100%; height:240px;"></div>
                </v-card>
            </v-col>
        </v-row>
        

     
    </div>

</script>