<script type="text/x-template" id="post">
    <div v-if="content">
        <v-card class="content">
            <v-list-item three-line>
                <v-list-item-content>

                    <div class="overline">
                        <div class="post-subtitle grey--text">
                            <v-icon small color="grey lighten-1">
                                mdi-calendar
                            </v-icon>
                            [[ post.date.slice(0,10) ]]
                            <v-divider vertical></v-divider>
                            <v-icon small color="grey lighten-1">
                                mdi-folder-multiple
                            </v-icon>
                            <div v-for="(category, index) in post.categories" class="d-inline">
                                <span v-if="index">, </span>
                                <router-link
                                    :to="{path: '/', query: {category: category}}"
                                >
                                    [[ category ]]
                                </router-link>
                            </div>
                        </div>
                    </div>

                    <v-list-item-title class="text-h6 grey--text text--lighten-3">
                        <span class="post-title" v-html="post.title"></span>
                    </v-list-item-title>
                    
                    <v-list-item-subtitle>
                        <div class="mt-2 text-body-2 grey--text text--lighten-1">

                            <div class="post-subtitle">
                                <v-icon small color="grey lighten-1">
                                    mdi-tag-multiple
                                </v-icon>
                                <div v-for="tag in post.tags" class="d-inline">
                                    <v-chip
                                        color="accent"
                                        label
                                        text-color="grey lighten-3"
                                        x-small
                                        class="mr-1"
                                        :key="tag"
                                        :to="{path: '/', query: {tag: tag}}"
                                    >
                                        [[ tag ]]
                                    </v-chip>
                                </div>
                            </div>    

                        </div>                  
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>

            <v-divider inset></v-divider>
            
            <v-card-text class="text-body-2 grey--text text--lighten-2">
                <div class="post-content" v-html="content"></div>
            </v-card-text>
        </v-card>

 
    </div>
    <div v-else style="height: 100vh;">
    </div>
</script>